.Search form {
  text-align: center;
}

.Search .input-search {
  padding: 5px 30px 5px 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  font-family: "Kalam", cursive;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.Search .input-button {
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgb(205, 100, 14);
  border: 1px solid white;
  font-family: "Kalam", cursive;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
  .Search .input-button {
    font-size: 15px;
  }

  .Search .input-search {
    font-size: 15px;
  }
}
